@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Playfair+Display:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.primary-color{
    font-family: 'Montserrat', sans-serif;
}